html{
    font-size: 62.5%;
    background: url('zzz.jpg') no-repeat center center fixed; 
    background-size: 100% 100%;
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left:0; right:0;
    padding:3px 9%;
    z-index: 1000;
    background: transparent;
    height: 7rem;
}

.header .main-nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 0 30px;
    font-size: 2rem;
    font-weight:bolder ;
}

.header .main-nav a:hover{
    color: rgb(90, 85, 74);
}


.header #menu-bar{
    display: none ;
    font-size: 2.5rem;
    color: var(--light-color);
    cursor: pointer;
}
.login i{
    display: none;
    font-size: 2.5rem;
    color: var(--light-color);
}

.header.active{
    padding: 2rem 9%;
    box-shadow: var(--box-shadow);
}

.btn{
    color: black;
    cursor: pointer;
    font-weight: 500;
    background-color: transparent;
    border: none;
    font-size: 20px;
    border-radius: 6px;
}

.btn:hover{
    background: rgb(255, 255, 255);
}

.login-form-container{
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    top: 0; left: 0;
    position: fixed; 
    background: rgba(255, 255, 255, 0.9);
    z-index: 10000;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-form-container.active{

    display: flex;
}

.login-form-container form{
    margin: 2rem;
    text-align: center;
    padding: 2rem;
    width: 40rem;
    border-radius: .9rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border: var(--border);
    background: rgb(250, 243, 215);
}

.login-form-container form .buttons{
    display: flex;
    gap: 1rem;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
}

.login-form-container form .btn{
    display: block;
    width: 100%;
    margin: .5rem 0;
    height: 5%;
}

.login-form-container form .buttons a{
    text-decoration: none;
}

.login-form-container form .btn:hover{
    background-color:rgb(243, 183, 53) ;
}

.login-form-container form .box{
    margin: .7rem 0;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    border: var(--border);
    padding: 1rem 1.2rem;
    border-radius: .5rem;
}

.login-form-container form p{
    padding: 1rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

.login-form-container form p a{
    color: rgb(112, 64, 64);
    text-decoration: underline;
}

.login-form-container form h3{
    padding-bottom: 1rem;
    font-size: 2.5rem;
    color: var(--black);
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
}

.login-form-container #close-login-form{
    position: absolute;
    top: 1.5rem; right: 2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
}

.login i{
    cursor: pointer;
}

.login .btn{
    color: rgb(0, 0, 0);
    font-weight: bold;
}
 


.typed{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top:18rem;
    /* left:15rem; */
    padding-left: 10rem;
    font-size: large;
    font-weight: 10000000;
    color:rgb(0, 0, 0);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.typed h1 {
    font-weight: 1000000;
    /* margin: 0.4em 0; */
  }
  h1 { font-size: 4.5rem; }

.typed .txt-rotate{
    font-size: 4rem;
    
}

.more-info{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 17rem;
    padding-left: 30%;
    gap: .5rem;
}

.more-info .hy{
    font-size: 2rem;
    font-weight: bold;
    color: #eee;
}

.more-info .hey{
    font-size: 1.5rem;
    color: #eee;
}

.more-info .btn:hover{
    background-color: transparent;
    color:black ;
}


@media (max-width:1100px){
    .header{
        padding: 2rem;
    }

    .header.active{
        padding: 2rem;
    }

    .login-form-container #close-login-container{
        font-size: 2rem;
    }

    .header #menu-bar{
        display: block;
    }

    #menu-bar.fa-times{
        transform: rotate(180deg);
    }

    .login .btn{
        display: none;
    }

    .login i{
        display: block;
    }

    .header .main-nav{
        position: absolute;
        top:99%; left:0; right:0;
        background: #eee;
        border-top: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .main-nav.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        background-color: transparent;
    }

    .header .main-nav a{
        margin:2rem;
        display: block;
        font-size: 2rem;
    }

    /* .login-form-container #close-login-container{
        font-size: 2rem;
    } */

    .typed .txt-rotate{
        font-size: 3rem;
    }

    .typed{
        padding-left: 10rem;
    }
}

@media (max-width:720px){
    html { 
        background: url('Ace.jpg') no-repeat center center fixed;
        background-size: cover; 
    }
    .header #menu-bar{
        display: block;
    }

    #menu-bar.fa-times{
        transform: rotate(180deg);
    }

    .login .btn{
        display: none;
    }

    .login i{
        display: block;
    }

    .header .main-nav{
        position: absolute;
        top:99%; left:0; right:0;
        background: #eee;
        border-top: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .main-nav.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        background-color: transparent;
    }

    .header .main-nav a{
        margin:2rem;
        display: block;
        font-size: 2rem;
    }

    .login-form-container #close-login-container{
        font-size: 2rem;
    }

    .typed{
        padding-left: 7rem;
        top: 25rem;
        color: rgb(255, 253, 253);
    }

    .more-info{
        top: 24rem;
        padding-left: 40%;
    }

    .more-info .hy{
        color: rgb(0, 0, 0);
    }

    .more-info .hey{
        color: rgb(0, 0, 0);
    }
}
